In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(context='notebook',style="ticks",palette="GnBu_d",font_scale=1.5,font='ETBembo',rc={"figure.figsize": (10, 6)})
#plt.rcParams['figure.figsize']=(15,10)
import warnings
warnings.filterwarnings('ignore') #为了整洁，去除弹出的warnings
pd.set_option('precision', 5) #设置精度
pd.set_option('display.float_format', lambda x: '%.5f' % x) #为了直观的显示数字，不采用科学计数法
pd.options.display.max_rows = 200 #最多显示200行

In [9]:
data = pd.read_csv('/Users/denisefan/Workspace/rabbitRun/Python/source/LoanStats3a_2016Q4.csv',skiprows=0,header=1)
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,nan,5000.00000,5000.00000,4975.00000,36 months,10.65%,162.87000,B,B2,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,NaN,nan,2500.00000,2500.00000,2500.00000,60 months,15.27%,59.83000,C,C4,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,NaN,nan,2400.00000,2400.00000,2400.00000,36 months,15.96%,84.33000,C,C5,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,NaN,nan,10000.00000,10000.00000,10000.00000,36 months,13.49%,339.31000,C,C1,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,NaN,nan,3000.00000,3000.00000,3000.00000,60 months,12.69%,67.79000,B,B5,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [10]:
data.shape

(42538, 122)

In [11]:
set(data.dtypes)

{dtype('float64'), dtype('O')}